# Build
build/
out/

# Gradle
.gradle/
.gradle/*
.gradle
gradle/
gradle*
.gradle*
.gradletasknamecache
.gradlew

# IDE
*.iml
.idea/

# OS
.DS_Store

generated
*.log

# Chat Server private key
chat_server.key